@page
@model Sales.Pages.clientes.clientesModel
@{
}

<head>
    <style>
        .content-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            width: 100%;
        }

        .content-table thead tr {
            background-color: #14a387;
            color: #FFFFFF;
            text-align: left;
            font-weight: bold;
            font-size: 18px;
        }

        .content-table th,
        .content-table td {
            padding: 12px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }
        tr:hover {
            background-color: #e8e8e8;
        }
        .close-button {
            cursor: pointer;
            color: red;
            transform: translate(0%, -50%);
            text-decoration: none;
            font-size: 16px;
        }
        .close-button:hover {
            background: #bbb;
            color: black;
        }
        .btn-primary {
            background-color: #14a387;
            border: 1px solid white;
        }
        .btn-primary:hover {
            background-color: #0f7f69;
            border: 1px solid white;
        }

    </style>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach((row) => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
</head>

<br>
<h2>Lista de Clientes</h2>
<a class="btn btn-primary btn-sm" href="/clientes/Criar">Novo Cliente</a>
    
<table class="content-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Morada</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.clientesList)
        {
            <tr data-href="/Clientes/Editar?id=@cliente.Id">
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.Morada</td>
                <td>
                    <a class="close-button" href="/Clientes/Remover?id=@cliente.Id">X</a>
                </td>
            </tr>
        }
    </tbody>
</table>
