.btn-primary {
    color: #fff;
    background-color: #14a387;
    border-color: #14a387;
}

.btn-primary:hover {
    color: #fff;
    background-color: #129379;
    border-color: #10836c;
}

.btn-outline-primary {
    color: #14a387;
    border-color: #14a387;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #14a387;
    border-color: #14a387;
}