@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><label for="profit"><h2>Lucro: </h2></label></p>
<input type="text" size="8" style="text-align: center; background-color: #e8e8e8;" id="profit" name="profit" value="@Model.Profit" disabled>
</div>

